.contact-container{
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px;
    width: 45%;
    height: 78%;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    border: 2px solid #12664f;
    display: flex;
    flex-direction: column;
}

h2, label{
    color: #12664f;
    font-weight: bold;
}

.boton-submit{
    background-color: #12664f;
    color: white;
    width: 120px;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
}