.registerContainer {
  padding: 60px 0;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url("https://img.freepik.com/free-photo/flat-lay-medical-desk-composition-with-copy-space_23-2148502943.jpg?w=2000");
  background-size: cover;
  background-position: center top;
}
.loginContainer {
  border-radius: 10px;
  padding: 60px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 165px;
  background-image: url("https://img.freepik.com/free-photo/flat-lay-medical-desk-composition-with-copy-space_23-2148502943.jpg?w=2000");
  background-size: cover;
  background-position: center top;
}
.formModifier {
  margin: 0;
  padding: 0;
  margin-bottom: 0;
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  width: 60%;
  max-width: 480px;
  margin-top: 20px;
  padding: 40px 40px 10px 40px;
  background-color: #fff;
  border-radius: 20px;

  h3 {
    font-size: 19px;
    font-weight: normal;
    text-align: center;
  }

  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #0f6f32;
    text-align: center;
    margin-bottom: 50px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .btnContainer {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    margin-top: 35px;
  }

  button {
    border: none;
    width: 30%;
    padding: 10px;
    cursor: pointer;
    font-size: 13px;
    background-color: #12873d;
    border-radius: 35px;
    color: #fff;
    //transition-duration: 3s;
  }

  button:hover {
    background-color: #2e8c73;
  }

  p {
    text-align: center;
    font-size: 14px;
  }
  span {
    cursor: pointer;
    color: #12664f;
  }

  span:hover {
    text-decoration: underline;
  }

  .inputBox {
    background-color: #ececec;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;

    label {
      font-weight: 600;
      font-size: 12px;
    }

    input {
      border: none;
      background-color: inherit;
      color: #2f2f2f;
      font-size: 14px;
    }
  }
}

.mensajeForm {
  background-color: #253e3875;
  color: white;
  top: 20px;
  border-radius: 10px;
  width: 25%;
  text-align: center;
  position: absolute;
  padding: 10px;
}

.welcome {
  h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    font-size: 45px;
    color: #12664f;
  }

  //! CartPage.jsx
  .cartProducts {
    background-color: #0f6f32;
    justify-content: flex-end;
    padding: 5px;
    border-radius: 10px;
    margin-top: 2%;
  }
  .cartFinalizar {
    display: flex;
    flex-direction: row;
    flex-direction: row;
    justify-content: space-around;
    align-self: flex-end;
    align-content: flex-end;
    align-content: flex-end;
    margin-top: 3%;

    span{
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      align-content: center;
      margin: 1.5% 0;
      font-size: 20px;
      color: #12664f;
      font-weight: bold;
      padding: 5px 10px;
    }

    button {
      border: none;
      border-radius: 10px;
      border: #12664f 2px double;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      background-color: #fff;
      color: #12664f;
    }

    button:hover {
      background-color: #12664f75;
    }

    button:active {
      background-color: #12664f;
      color: #fff;
    }
  }
}

.admin {
  margin-top: 5%;
  background-color: #2e8c73;
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 40px 70px;
  margin: 50px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  h2 {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
    font-size: 45px;
    color: #12664f;
    background-color: red;
  }

  .agregarProductos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px;

    button {
      border: none;
      border-radius: 10px;
      border: #12664f 2px double;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 15px;
      font-weight: bold;
      background-color: #ffffff;
      color: #12664f;
    }

    button:hover {
      background-color: #28664f;
      color: white;
    }

    button:active {
      background-color: #12664f;
      color: #fff;
    }
  }

  .adminProductos {
    width: 100%;
    // display: grid;
    // grid-template-columns: repeat(3, 0fr);
    // grid-row-gap: 20px;
    // grid-column-gap: 85px;
    // justify-items: center;
    // justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.productFormContainer {
  border: black 2px solid;
  background-color: #3ab292;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  min-width: 400px;
  width: 60%;
  max-width: 500px;
  margin-top: 10px;
  padding: 40px;
  //background-color: #fff;
  border-radius: 10px;
  //box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;

  h3 {
    font-size: 20px;
    text-align: center;
    color: black;
  }

  h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #12664f;
    text-align: center;
  }

  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  label {
    font-weight: bold;
  }

  .btnsContainer {
    display: flex;
    justify-content: space-around;
    gap: 5%;
  }

  button {
    border: none;
    border-radius: 10px;
    border: #12664f 2px double;
    border: none;
    width: 30%;
    padding: 10px 0;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    background-color: #e0fbf3;
    border: solid #2f2f2f 2px;
    border-radius: 10px;
    color: black;
    //transition-duration: 3s;
  }

  button:hover {
    background-color: #2e8c73;
  }

  p {
    text-align: center;
    font-size: 15px;

    span {
      cursor: pointer;
      color: #12664f;
    }

    span:hover {
      text-decoration: underline;
    }
  }

  .inputBox {
    background-color: #ececec;
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 3px;

    label {
      font-size: 12px;
    }

    input {
      border: none;
      background-color: inherit;
      color: #2f2f2f;
      font-size: 14px;
    }
  }
}

.contact-container {
  background-color: red;
  height: 100px;
}

.purchaseHistory {
  img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
  }
  .purchase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

//! ProfilePage.jsx
.profileContainer {
  width: 55vw;
  margin-top: 5%;
  margin-bottom: 5%;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1% 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  //align-items: center;
  border: 2px solid #12664f;
}
//Div de Datos del usuario
.profile {
  h2 {
    font-size: 35px;
  }
  h3 {
    width: 50%;
    display: flex;
    align-content: center;
    align-items: center;
    align-self: center;
    font-size: 18px;
  }
  span {
    margin-left: 2%;
    flex: 2;
    font-size: 15px;
  }
}

//Historial de compras

.h1Historial {
  text-align: left;
  font-size: 25px;
  color: #12664f;
  font-weight: bold;
  margin-top: 3%;
  margin-bottom: 2%;
}

.purchaseHistory {
  overflow: scroll;
  height: 500px;
  h1 {
    text-align: left;
    font-size: 25px;
    color: #12664f;
    font-weight: bold;
    margin-top: 5%;
  }
  h3 {
    margin: 2% 0;
    font-size: 17px;
  }
  .cajaCompra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid #12664f;
    border-radius: 10px;
    padding: 2%;
    margin-bottom: 5%;
  }
}
//Lista de productos del historial de compras
.purchase {
  margin: 4% 0;
  display: flex;
  flex-direction: column;

  h4 {
    font-size: 15px;
  }
}
.purchaseImg {
  flex: 2;
  text-align: flex-start;
}
.purchaseData {
  flex: 5;
  align-self: center;
}
