//LISTA DE PRODUCTOS
.contenedorProductos {
  margin-top: 100px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  grid-row-gap: 30px;
  grid-column-gap: 45px;
  justify-items: center;
  justify-content: center;

  //DIV DE PRODUCTOS
  .producto {
    background-color: #bdddce;
    width: 260px;
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    // gap: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.2);
    text-align: center;

    .contenedorProductosTexto {
      flex: 2;
    }

    .contenedorProductosTexto p {
      font-weight: bold;
      font-size: 15px;
    }

    .contenedorProductosTexto span {
      font-size: 12px;
    }

    img {
      width: 75%;
      margin-bottom: 30px;
    }

    .contenedorProductosImagen {
      flex: 1;
    }

    button {
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      cursor: pointer;
      font-size: 14px;
      background-color: #12664f;
      color: #fff;
    }

    button:hover {
      background-color: #2e8c73;
    }
  }
}

.cartContainer {
  width: 94%;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;

  .cartButton {
    position: absolute;
    top: 10%;
    right: 50px;
    // margin-right: 20px;
    cursor: pointer;
    z-index: 2;

    svg {
      height: 25px;
      margin: 2px;
    }
    //Boton de expandir carrito
    .button {
      background-color: #2e8c73;
      color: white;
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    .cartLength {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: #fff;
      font-size: 12px;
      font-weight: bold;
      color: #12664f;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  //El contenedor de Tu carrito
  .cart {
    position: absolute;
    border-radius: 30px;
    width: 700px;
    background-color: #2e8c73;
    color: white;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      text-align: center;
      font-weight: bold;
      font-size: 35px;
      margin-top: 35px;
      color: white;
    }

    .cartVacio {
      text-align: center;
      margin-top: 5px;
      font-size: 14px;
    }
    .total {
      font-size: 20px;
      margin-top: 15px;
      padding-bottom: 35px;
    }
    .total span {
      font-weight: bold;
      text-decoration: underline;
      color: wheat;
    }

    .cartProducts {
      max-height: 300px;
      overflow-y: scroll;
      margin-top: 5px;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #016134;
}

//Items en la ventana de Tu Carrito
.itemCart {
  margin: 20px;
  border-radius: 10px;
  padding: 10px;
  color: #12664f;
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: #fff;
  width: 600px;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .cantidad {
      flex: 0.1;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      background-color: #7ba99d;
      font-size: 12px;
      font-weight: bold;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      flex: 1;
      text-align: center;
      margin: 0;
      font-size: 10px;
    }
    img {
      width: 60px;
    }
    .btnCantidadContainer {
      flex: 1;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
    button {
      width: 50px;
      background-color: #2e8c73;
      border: none;
      color: white;
      font-size: 13px;
      border-radius: 50px;
      gap: 5px;
      border: non;
    }
    button:hover {
      background-color: #2e8c73;
    }
  }
}

//para ProductosCart
.itemCartExpanded {
  margin: 20px;
  border-radius: 30px;
  border: solid 2px #12664f;
  padding: 10px;
  color: #12664f;
  display: flex;
  flex-direction: column;
  background-color: #fff;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .cantidad {
      height: 35px;
      width: 35px;
      border-radius: 50%;
      background-color: #12664f;
      font-size: 15px;
      font-weight: bold;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    p {
      margin: 0;
      font-size: 20px;
    }
  }

  img {
    width: 150px;
  }

  button {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: #12664f;
    color: #fff;
  }

  button:hover {
    background-color: #2e8c73;
  }
}

//para ProductosAdmin
.cajaItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 30px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  font-weight: bold;
  text-align: center;

  .datosProducto {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 20px;
    justify-content: center;
    align-items: center;

    .superior {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 20px;
      .stock {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 20px;
      }
    }
  }

  .cantidad {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #12664f;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  p {
    margin: 0;
    font-size: 20px;
  }

  img {
    width: 150px;
  }

  button {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    background-color: #12664f;
    color: #fff;
  }

  button:hover {
    background-color: #2e8c73;
  }
}
