.container {
  height: 100vh;
  width: 100vw;
  background-color: #DFDBE5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%232e8c73' fill-opacity='0.26'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
  display: flex;
  flex-direction: row;
  justify-content: center;
  //align-items: center;
  background-color: #ececec;
}

nav {
  width: 100vw;
  height: auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
  //background-color: #ececec;

  .navBar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    //border-radius: 10px;
    //background-color: #fff;
    padding: 25px 30px;
    //box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    color: #12664f;
  }
  h1 {
    font-size: 30px;
    font-weight: bold;
    margin: 0;
  }

  .navButtons {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    a {
      padding: 5px 10px;
      border-radius: 10px;
      text-decoration: none;
      color: #12664f;
      font-size: 17px;
      //font-weight: bold;
    }

    a:hover {
      background-color: #12664f75;
      color: white;
    }
    a:active {
      background-color: #12664f;
      color: #fff;
    }
  }
}
